.authBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: var(--adminBg);
}

.authLogoLink {
    position: absolute;
    left: 30px;
    top: 30px;
    width: max-content;
}

.authLogo {
    width: 150px;
}

.authBlock {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background: var(--light);
    box-shadow: var(--box-sh-main);
}

.authTitle {
    font-size: 32px;
    line-height: 100%;
    width: 100%;
    text-align: center;
}

.authInputColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.authUserDisclaimer {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 375px;
    font-size: 12px;
    line-height: 120%;
}

.authUserDisclaimerSpan {
    font-weight: 600;
    text-decoration: underline;
    color: var(--gold);
    transition: all 0.3s;
}

.authUserDisclaimerSpan:hover {
    color: var(--dark);
    transition: all 0.3s;
}

.adminMainBox {
    display: flex;
    width: calc(100% - 230px);
    margin-left: 230px;
    padding: 50px;
    background-color: none;
}

.adminMain {
    display: flex;
    width: 100%;
    background: var(--adminBg);
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.title {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.dashboardLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
}

.dashboardLineItem {
    width: 33%;
    border-radius: 40px;
    background: #FDEDBF;
    padding: 15px 20px;
    color: #140702;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ordersLineItem {
    width: 50%;
    border-radius: 40px;
    background: #FDEDBF;
    padding: 15px 20px;
    color: #140702;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dashboardColumn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.subtitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.dashboardColumnUsers {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.dashboardAccordionButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: solid 1px #000;
    border-radius: 60px;
    padding: 0px;
}

.dashboardAccordionTableInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 60px;
    padding: 0px;
    background: #FDEDBF;
    border: solid 1px #000;
}

.dashboardAccordionButtonText {
    width: 20%;
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border-right: solid 1px #000;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardAccordionHeaderTextMiddle {
    width: 40%;
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px #000;
    padding: 10px 5px;
}

.dashboardAccordionButtonTextMiddle {
    width: 40%;
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border-right: solid 1px #000;
    padding: 10px 5px;
}

.ordersAccordionButtonText {
    width: 40%;
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border-right: solid 1px #000;
    padding: 10px 5px;
}

.dashboardAccordionButtonTextLil {
    width: 20%;
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    border-right: solid 1px #000;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardAccordionButtonBlock {
    width: 10%;
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border-right: solid 1px #000;
    padding: 10px 0;
}

.dashboardAccordionButtonBlockLil {
    width: 10%;
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    border-right: solid 1px #000;
    padding: 10px 0;
}

.dashboarNoBorder {
    border-right: none;
}

.accordionPanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 1px #000;
    border-radius: 30px;
    padding: 20px;
    margin-top: 10px;
}

.accordionPanelColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordionPanelTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.accordionPanelLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.accordionPanelText {
    font-family: "Tenor Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    text-align: left;
}

.hr {
    border-top: solid 1px #000;
}

.accrdionPanelItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FDEDBF;
    border-radius: 30px;
    padding: 10px;
}

.productImg {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.accordionPanelProductLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 400px;
    overflow: auto;
}

.accordionPanelProductLine::-webkit-scrollbar {
    display: none;
}

.accordionPanelProductLineLil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: max-content;
}

.accordionPanelButton {
    display: flex;
    width: max-content;
    height: 34px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dashboardSubtitleLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.productsColumn {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.productsInput {
    width: 75%;
    height: 50px;
    border: solid 1px #000;
    border-radius: 60px;
    padding: 0 25px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.productsInput::placeholder {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.productsInput:focus {
    outline: none;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.productsGridItem {
    display: flex;
    flex-direction: row;
    background: #FDEDBF;
    border-radius: 30px;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

.productsGridItemCover {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 30px;
}

.productsGridItemColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 135px);
}

.productsGridItemText {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
    text-align: left;
}

.productsGridItemLineButtons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px 0 0 33px;
}

.productsGridItemButton {
    color: #C39748;
    font-family: "Tenor Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.productsGridItemTextLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.productsGridItemPopular {
    padding: 5px;
    background: #140702;
    border-radius: 10px;
}

.productsLine {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.productsButtonAddProduct {
    display: flex;
    width: 25%;
    padding: 15px 10px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.ordersColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orderItem {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ordersUserLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.ordersUserItem {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ordersButtonLine {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.ordersButton {
    display: flex;
    width: 30%;
    height: 40px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #FDEDBF;
    color: #140702;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ordersDeleteButton {
    width: 10%;
    height: 40px;
    background: #140702;
    border-radius: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ordersButtonDisabled {
    opacity: 0.5;
}

.createLilColumn {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 10px;
}

.createSubtitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.createColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: left;
    justify-content: left;
}

.createCountButton {
    background: #FDEDBF;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.createCountLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.createCountButtonSelect {
    background: #C39748;
    color: white;
}

.createCountTitle {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.productsInputArticle {
    width: 75%;
    height: 50px;
    border: solid 1px #000;
    border-radius: 60px;
    padding: 0 25px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.productsInputArticle::placeholder {
    color: rgba(20, 7, 2, 0.5);
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.productsInputArticle:focus {
    outline: none;
}

.loading {
    position: relative;
    background: rgba(20, 7, 2, 0.5);
    color: rgba(253, 237, 191, 0.5);
}

.loading:hover {
    cursor: auto;
}

.loading::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 46%;
    width: 20px;
    height: 20px;
    border: 4px solid #FFF;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.newsPlus {
    width: 50px;
    height: 50px;
}

.newsImageButton {
    background: #C39748;
    width: 75px;
    height: 75px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsImageButton:hover {
    cursor: pointer;
}

.newsImageButtonBox {
    width: max-content;
}

.newsCoverBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.newsCoverImage {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.createModal {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: #FFF;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.createModalTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.createModalCover {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.createModalLine {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.createModalButton {
    display: flex;
    width: 50%;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.createModalButtonCancel {
    display: flex;
    width: 50%;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #FDEDBF;
    color: #140702;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.warehouseColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.warehouseItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #000;
    border-radius: 20px;
    padding: 10px;
}

.warehouseItemCover {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.warehouseItemName {
    font-family: Dela Gothic One;
    font-size: 20px;
    font-weight: 400;
    line-height: 34.75px;
    text-align: left;
    text-transform: uppercase;
    width: 15%;
}

.warehouseItemTotalCount {
    width: 15%;
    font-family: Tenor Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
}

.warehouseItemCountsColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
}

.warehouseItemTotalCountItem {
    font-family: Tenor Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
}

.warehouseInput {
    width: 50%;
    height: 50px;
    border: solid 1px #000;
    border-radius: 60px;
    padding: 0 25px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.warehouseInput::placeholder {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.warehouseInput:focus {
    outline: none;
}