.main {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 1400px;
    margin: 315px 0 100px 0;
    align-items: flex-start;
    min-height: 45vh;
    gap: 90px;
    justify-content: space-between;
    overflow: hidden;
}

.columnProducts {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: calc(100% - 452px);
}

.rowHeader {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.rowHeaderTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rowHeaderClear {
    color: #C39748;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itemColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
}

.hr {
    width: 100%;
    border-top: solid 1px #140702;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.itemRow {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.itemCover {
    width: 117px;
    height: 116px;
}

.itemTextColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemTextColumnLil {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.itemName {
    color: #140702;
    text-align: left;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.itemText {
    color: #140702;
    text-align: left;
    font-family: "Tenor Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itemCost {
    color: #C39748;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.itemRowLil {
    display: flex;
    flex-direction: row;
    gap: 46px;
    align-items: center;
}

.itemCross {
    width: 15px;
    height: 15px;
}

.itemCross:hover {
    cursor: pointer;
}

.itemCountLine {
    display: flex;
    flex-direction: row;
}

.itemCountSymbolBox {
    display: flex;
    width: 44px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #140702;
}

.itemCountNumber {
    display: flex;
    width: 44px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FDEDBF;
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.totalColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 412px;
}

.totalButton {
    display: flex;
    width: 100%;
    height: 46px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.total {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #000;
    padding: 15px;
}

.totalTitle {
    color: #140702;
    text-align: left;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.totalContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.totalRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.totalSubtitle {
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.totalGold {
    color: #C39748;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.totalColumnLil {
    display: flex;
    flex-direction: column;
}

.totalText {
    color: #646464;
    font-family: "Tenor Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.emptyBag {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: left;
    justify-content: left;
}

.emptyBagTitle {
    color: #140702;
    text-align: left;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.emptyBagButton {
    display: flex;
    width: 250px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.orderColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orderTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.orderLine {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: flex-start;
}

.orderColumnBig {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.orderColumnLil {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.orderInputTitle {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
    text-align: left;
}

.orderInput {
    width: 502px;
    height: 51px;
    border: solid 1px #000;
    border-radius: 51px;
    padding: 0 25px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.orderInput:focus {
    outline: none;
}

.orderLineDelivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: max-content;
    user-select: none;
}

.orderLineDelivery:hover {
    cursor: pointer;
}

.orderDeliveryDot {
    width: 12px;
    height: 12px;
}

.orderDeliveryText {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.orderButtonPay {
    display: flex;
    width: 412px;
    height: 46px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.orderDeliveryLineAddress {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}


.orderDeliveryAddress {
    display: flex;
    width: 269px;
    height: 84px;
    padding: 20px 15px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background: #FDEDBF;
}

.orderDeliveryAddress:hover,
.anotherAddress:hover {
    cursor: pointer;
}

.orderDeliveryAddressText {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
    text-align: left;
}

.anotherAddress {
    display: flex;
    width: 269px;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid #140702;
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modal {
    width: 600px;
    flex-shrink: 0;
    background: #FDFDFD;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 40px 0 65px 0;
}

.modalSuccess {
    width: 600px;
    flex-shrink: 0;
    background: #FDFDFD;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 40px 0 29px 0;
}

.modalHeader {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modalHeaderLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
}

.modalHeaderTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.cross:hover {
    cursor: pointer;
}

.modalHr {
    width: 100%;
    border-top: solid 1px #140702;
}

.modalColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px;
}

.modalSubtitle {
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalColumnInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalInputTitle {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalInput {
    width: 502px;
    height: 62px;
    border: solid 1px #000;
    border-radius: 100px;
    padding: 0 25px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalInput:focus,
.modalInputLil:focus {
    outline: none;
}

.modalInputLil {
    width: 223px;
    height: 62px;
    border: solid 1px #000;
    border-radius: 100px;
    padding: 0 25px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalInputLine {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.modalSaveButton {
    display: flex;
    width: 500px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalSaveButton:hover {
    cursor: pointer;
}

.modalSuccessColumn {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding: 0 50px;
}

.modalSuccessColumnLil {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalSuccessTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalSuccessText {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalSuccessStatus {
    display: flex;
    width: 100%;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #FDEDBF;
}

.modalSuccessColumnMiddle {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modalSuccessLine {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.modalSuccessLineIcon {
    width: 24px;
}

.modalSuccessGold {
    color: #C39748;
    text-align: left;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.loading {
    position: relative;
    background: rgba(20, 7, 2, 0.5);
    color: rgba(253, 237, 191, 0.5);
}

.loading:hover {
    cursor: auto;
}

.loading::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 46%;
    width: 20px;
    height: 20px;
    border: 4px solid #FFF;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.countinueShoppingButton {
    display: flex;
    width: 412px;
    height: 46px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 104px;
    background: #FDEDBF;
    color: #140702;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}