.main {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 1400px;
    margin: 315px 0 100px 0;
    align-items: flex-start;
    min-height: 45vh;
    gap: 90px;
    justify-content: space-between;
    overflow: hidden;
}

.columnProducts {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: calc(100% - 452px);
}

.rowHeader {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.rowHeaderTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rowHeaderClear {
    color: #C39748;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itemColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
}

.hr {
    width: 100%;
    border-top: solid 1px #140702;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.itemRow {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.itemCover {
    width: 117px;
    height: 116px;
    object-fit: cover;
}

.itemTextColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemTextColumnLil {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.itemName {
    color: #140702;
    text-align: left;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.itemCost {
    color: #C39748;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.itemRowLil {
    display: flex;
    flex-direction: row;
    gap: 46px;
    align-items: center;
}

.itemCross {
    width: 15px;
    height: 15px;
}

.itemCross:hover {
    cursor: pointer;
}

.itemCountLine {
    display: flex;
    flex-direction: row;
}

.itemCountLineMobile {
    display: none;
}

.itemCountSymbolBox {
    display: flex;
    width: 44px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #140702;
}

.itemCountNumber {
    display: flex;
    width: 44px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FDEDBF;
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.totalColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 412px;
}

.totalButton {
    display: flex;
    width: 100%;
    height: 46px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.total {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #000;
    padding: 15px;
}

.totalTitle {
    color: #140702;
    text-align: left;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.totalContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.totalRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.totalSubtitle {
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.totalGold {
    color: #C39748;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.totalColumnLil {
    display: flex;
    flex-direction: column;
}

.totalText {
    color: #646464;
    font-family: "Tenor Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.emptyBag {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: left;
    justify-content: left;
}

.emptyBagTitle {
    color: #140702;
    text-align: left;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.emptyBagButton {
    display: flex;
    width: 250px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.orderColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orderTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.orderLine {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: flex-start;
}

.orderColumnBig {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.orderColumnLil {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.orderInputTitle {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
    text-align: left;
}

.orderInput {
    width: 502px;
    height: 51px;
    border: solid 1px #000;
    border-radius: 51px;
    padding: 0 25px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.orderInput:focus {
    outline: none;
}

.orderLineDelivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: max-content;
    user-select: none;
}

.orderLineDelivery:hover {
    cursor: pointer;
}

.orderDeliveryDot {
    width: 12px;
    height: 12px;
}

.orderDeliveryText {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.orderButtonPay {
    display: flex;
    width: 412px;
    height: 46px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.orderDeliveryLineAddress {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}


.orderDeliveryAddress {
    display: flex;
    width: 269px;
    height: 84px;
    padding: 20px 15px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background: #FDEDBF;
}

.orderDeliveryAddress:hover,
.anotherAddress:hover {
    cursor: pointer;
}

.orderDeliveryAddressText {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
    text-align: left;
}

.anotherAddress {
    display: flex;
    width: 269px;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid #140702;
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modal {
    width: 600px;
    flex-shrink: 0;
    background: #FDFDFD;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 40px 0 65px 0;
}

.modalSuccess {
    width: 600px;
    flex-shrink: 0;
    background: #FDFDFD;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 40px 0 29px 0;
}

.modalHeader {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modalHeaderLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
}

.modalHeaderTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.cross:hover {
    cursor: pointer;
}

.modalHr {
    width: 100%;
    border-top: solid 1px #140702;
}

.modalColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px;
}

.modalSubtitle {
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalColumnInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalInputTitle {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalInput {
    width: 502px;
    height: 62px;
    border: solid 1px #000;
    border-radius: 100px;
    padding: 0 25px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalInput:focus,
.modalInputLil:focus {
    outline: none;
}

.modalInputLil {
    width: 223px;
    height: 62px;
    border: solid 1px #000;
    border-radius: 100px;
    padding: 0 25px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalInputLine {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.modalSaveButton {
    display: flex;
    width: 500px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalSaveButton:hover {
    cursor: pointer;
}

.modalSuccessColumn {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding: 0 50px;
}

.modalSuccessColumnLil {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalSuccessTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalSuccessText {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalSuccessStatus {
    display: flex;
    width: 100%;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #FDEDBF;
}

.modalSuccessColumnMiddle {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modalSuccessLine {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.modalSuccessLineIcon {
    width: 24px;
}

.modalSuccessGold {
    color: #C39748;
    text-align: left;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.loading {
    position: relative;
    background: rgba(20, 7, 2, 0.5);
    color: rgba(253, 237, 191, 0.5);
}

.loading:hover {
    cursor: auto;
}

.loading::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 46%;
    width: 20px;
    height: 20px;
    border: 4px solid #FFF;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.countinueShoppingButton {
    display: flex;
    width: 412px;
    height: 46px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 104px;
    background: #FDEDBF;
    color: #140702;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hrMobile {
    display: none;
}

.itemCrossMobile {
    display: none;
}

.modalSuccessLineIconMap {
    width: 22px;
}

.lineDelivery {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.orderText {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.orderButton {
    display: flex;
    width: 412px;
    height: 46px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #FDEDBF;
    color: #140702;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.orderInfo {
    display: flex;
    padding: 30px 40px;
    align-items: flex-start;
    gap: 80px;
    background: #FDEDBF;
    width: max-content;
}

.orderInfoColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: left;
    justify-content: left;
}

.orderInfoColumnTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
    text-align: left;
    width: 100%;
}

.orderInfoColumnText {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
    text-align: left;
}

.orderColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modalClear {
    width: 600px;
    background: #FFF;
    padding-bottom: 93px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.modalHeaderClear {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 30px;
    border-bottom: solid 1px #140702;
}

.modalHeaderTitle {
    font-size: 24px;
    color: #140702;
    line-height: 109%;
    text-align: left;
    font-family: "Dela Gothic One";
}

.modalCross:hover {
    cursor: pointer;
}

.modalColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px;
}

.modalDeleteAll {
    background: #FDEDBF;
    width: 100%;
    height: 59px;
    border-radius: 104px;
    font-family: "Dela Gothic One";
    font-size: 20px;
    color: #041F17;
    line-height: 100%;
    text-align: center;
}

.modalClose {
    background: #140702;
    width: 100%;
    height: 59px;
    border-radius: 104px;
    font-family: "Dela Gothic One";
    font-size: 20px;
    color: #FDEDBF;
    line-height: 100%;
    text-align: center;
}

.itemNameColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.itemNameStat {
    font-family: Tenor Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.38px;
    text-align: left;
}

.inputColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    width: 100%;
}

.inputTitle {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
    text-align: left;
}

.codeLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.lilInputCode {
    width: 223px;
    height: 51px;
    border: solid 1px rgba(20, 7, 2, 1);
    border-radius: 100px;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.2px;
    text-align: left;
    padding: 0 20px;
    outline: none;
}

.buttonCode {
    background: rgba(20, 7, 2, 1);
    padding: 14px 0px;
    width: 262px;
    height: 51px;
    border-radius: 104px;
    font-family: Dela Gothic One;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.17px;
    text-align: center;
    color: rgba(253, 237, 191, 1);
    transition: all 0.5s;
}

.buttonCode:hover {
    background: var(--beige);
    color: var(--dark);
    transition: all 0.5s;
}

@media (max-width: 475px) {
    .main {
        width: 100%;
        margin: 63px 0 50px 0;
        align-items: flex-start;
        min-height: 45vh;
        gap: 20px;
    }

    .mainRow {
        flex-direction: column;
        gap: 20px;
    }

    .columnProducts {
        gap: 20px;
        width: 100%;
    }

    .rowHeader {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .emptyBag {
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .emptyBagTitle {
        width: calc(100% - 100px);
        font-size: 16px;
        text-align: center;
    }

    .emptyBagButton {
        width: calc(100% - 62px);
        padding: 9.5px 20px;
        font-size: 20px;
    }

    .hrMobile {
        display: block;
    }

    .totalColumn {
        gap: 15px;
        width: calc(100% - 27px);
        margin-left: 13.5px;
    }

    .totalButton {
        height: 39px;
        padding: 11px 20px;
        font-size: 12px;
    }

    .countinueShoppingButton {
        width: 100%;
        height: 39px;
        padding: 11px 20px;
        font-size: 13px;
    }

    .total {
        gap: 10px;
    }

    .totalTitle {
        font-size: 16px;
    }

    .totalContent {
        gap: 5px;
    }

    .totalSubtitle {
        font-size: 16px;
    }

    .totalGold {
        font-size: 16px;
    }

    .totalText {
        font-size: 13px;
    }

    .itemColumn {
        gap: 15px;
        padding: 0 35px;
    }

    .item {
        gap: 20px;
    }

    .itemRow {
        gap: 20px;
        width: 100%;
        align-items: flex-start;
    }

    .itemCover {
        width: 93px;
        height: 102px;
        object-fit: cover;
    }

    .itemTextColumn {
        gap: 15px;
        width: 100%;
    }

    .itemRowLil {
        display: none;
    }

    .itemName,
    .itemCost {
        font-size: 13px;
    }

    .itemCountLine {
        display: none;
    }

    .itemCountLineMobile {
        display: flex;
        flex-direction: row;
    }

    .itemCrossMobile {
        display: block;
        width: 15px;
        height: 15px;
    }

    .itemNameLine {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
    }

    .order {
        width: 100%;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .orderTitle {
        font-size: 18px;
        text-align: center;
    }

    .orderLine {
        flex-direction: column;
        gap: 15px;
    }

    .orderColumnBig {
        gap: 15px;
        width: 100%;
        padding: 0 45px;
    }

    .orderColumnLil {
        gap: 5px;
        width: 100%;
    }

    .orderInputTitle {
        font-size: 14px;
    }

    .orderInput {
        width: 100%;
        padding: 0 15px;
        font-size: 16px;
        height: 31px;
    }

    .orderButtonPay {
        width: calc(100% - 27px);
        height: 39px;
        padding: 11px 20px;
        font-size: 12px;
    }

    .orderColumn {
        gap: 15px;
        width: 100%;
    }

    .modalSuccess {
        width: 90%;
        gap: 20px;
        padding: 15px 0 18px 0;
        margin-left: 5%;
    }

    .modalHeader {
        gap: 15px;
    }

    .modalHeaderLine {
        padding: 0 15px;
        align-items: center;
    }

    .modalHeaderTitle {
        font-size: 15px;
    }

    .cross {
        width: 11.765px;
        height: 10px;
        flex-shrink: 0;
    }

    .modalSuccessColumn {
        gap: 20px;
        padding: 0 22px;
    }

    .modalSaveButton {
        width: 100%;
        padding: 9.5px 20px;
        font-size: 13px;
    }

    .modalSuccessTitle {
        font-size: 16px;
    }

    .modalSuccessColumnLil {
        gap: 5px;
    }

    .modalSuccessText {
        font-size: 16px;
    }

    .modalSuccessStatus {
        padding: 10px 15px;
    }

    .modalSuccessStatusIcon {
        width: 20px;
        height: 20px;
    }

    .modalSuccessColumnMiddle {
        gap: 15px;
    }

    .itemTextColumn {
        gap: 15px;
    }

    .modalSuccessLine {
        gap: 10px;
    }

    .modalSuccessLineIcon {
        width: 14px;
        height: 14px;
    }

    .modalSuccessLineIconMap {
        width: 16px;
    }

    .modalSuccessGold {
        font-size: 16px;
    }

    .orderText {
        font-size: 13px;
    }

    .orderColumn {
        gap: 20px;
        padding: 0 20px;
    }

    .orderInfo {
        flex-direction: column;
        padding: 10px;
        align-items: flex-start;
        gap: 15px;
        width: 100%;
    }

    .orderInfoColumn {
        gap: 10px;
    }

    .orderInfoColumnTitle {
        font-size: 14px;
    }

    .orderInfoColumnText {
        font-size: 13px;
    }

    .modalClear {
        width: 90%;
        padding-bottom: 40px;
        margin-left: 5%;
        gap: 25px;
    }

    .modalHeaderClear {
        padding: 15px 17px;
    }

    .modalHeaderTitle {
        font-size: 15px;
    }

    .modalCross:hover {
        cursor: pointer;
    }

    .modalColumn {
        gap: 10px;
        padding: 0 30px;
    }

    .modalDeleteAll {
        height: 38px;
        font-size: 13px;
    }

    .modalClose {
        height: 38px;
        font-size: 13px;
    }

    .itemNameStat {
        font-size: 10px;
        line-height: 11.7px;
    }

    .itemNameColumn {
        gap: 3px;
    }

    .inputColumn {
        gap: 5px;
        padding: 0;
    }

    .inputTitle {
        font-size: 14px;
    }

    .codeLine {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    .lilInputCode {
        width: 100%;
        height: 31px;
        font-size: 16px;
        line-height: 17px;
        padding: 0 10px;
    }

    .buttonCode {
        padding: 6.5px 0px;
        width: 100%;
        height: 31px;
        font-size: 13px;
        line-height: 18px;
    }
}