.main {
    width: 85%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin: 215px 0 100px 0;
}

.mainRow {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
}

.columnNavigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navigationLink {
    font-size: 20px;
    width: 215px;
    text-align: left;
    user-select: none;
}

.navigationLink:hover {
    cursor: pointer;
}

.navigationLinkSelect {
    font-weight: 600;
}

.hr {
    width: 100%;
    border-top: solid 1px #140702;
    margin-top: -1px;
}

.hrLink {
    width: 100%;
    border-top: solid 1px #140702;
    margin-top: -1px;
}

.columnNavigationLil {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: left;
    width: max-content;
}

.contentColumn {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.textColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textTitle {
    font-family: Dela Gothic One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.96px;
    text-align: left;
}

.textText {
    font-family: Tenor Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.72px;
    text-align: left;
}

.textParagraphsColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 475px) {
    .main {
        width: 100%;
        padding: 0 0px;
        gap: 15px;
        margin: 78px 0 7.5px 0;
    }

    .columnNavigation {
        display: none;
    }

    .contentColumn {
        gap: 20px;
        padding: 0 20px 30px 20px;
    }

    .textColumn {
        gap: 10px;
    }

    .textTitle {
        font-size: 16px;
        line-height: 20px;
    }
    
    .textText {
        font-size: 12px;
        line-height: 14px;
    }
    
    .textParagraphsColumn {
        gap: 10px;
    }
}