.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100%;
    height: 200px;
}

.hr {
    border-top: solid 1px #140702;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    width: 85%;
    max-width: 1400px;
    align-items: flex-start;
    padding-bottom: 90px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: left;
}

.title {
    font-size: 16px;
    font-family: 'Dela Gothic One', system-ui;
    text-transform: uppercase;
    text-align: left;
    width: max-content;
}

.text {
    font-size: 16px;
    text-align: left;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.columnMobile {
    display: none;
}

.lineMobile {
    display: none;
}

.columnMobile {
    display: none;
}

@media (max-width: 475px) {
    .main {
        gap: 15px;
        width: 100%;
        height: auto;
    }

    .content {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0 20px 50px 20px;
    }

    .column {
        display: none;
    }

    .columnMobile {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: left;
    }

    .title {
        font-size: 10px;
    }
    
    .text {
        font-size: 8px;
    }

    .logo {
        width: 104px;
        height: 37px;
    }

    .lineMobile {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .columnMobile {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .columnMobileLine {
        display: flex;
        flex-direction: row;
        gap: 62px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }
}