html,
body,
main {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Tenor Sans', sans-serif;
  /* font-family: 'Dela Gothic One', system-ui; */
}

a {
  text-decoration: none;
  width: 100%;
}

p {
  margin: 0;
  color: #140702;
  line-height: normal;
}

.input-file {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.input-file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
}


.toast {
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 104px;
  background: #140702;
  color: #FDEDBF;
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.widget {
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;
}

.link {
  width: max-content;
}

.mainPage {
  padding-top: 160px;
}

@media (max-width: 475px) {
  .toast {
    padding: 9.5px 20px;
    font-size: 13px;
  }

  .widget {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;
  }

  .mainPage {
    padding-top: 60px;
  }
}