.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 50px;
    gap: 50px;
    overflow: hidden;
}

.dataColumn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: left;
}

.titleColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.title {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    width: 100%;
}

.inputColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    width: 100%;
}

.inputTitle {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
    text-align: left;
}

.input {
    width: 502px;
    height: 51px;
    border: solid 1px #000;
    border-radius: 100px;
    padding: 0 25px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.input:focus {
    outline: none;
}

.lineSex {
    display: flex;
    flex-direction: row;
    gap: 87px;
    padding: 0 12.5px;
}

.lineLilSex {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.lineLilSex:hover {
    cursor: pointer;
}

.sexText {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sexCircle {
    width: 20px;
    height: 20px;
}

.hr {
    width: 100%;
    border-top: solid 1px #140702;
}

.lineAddressBox {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    align-items: left;
    justify-content: left;
}

.lineAddress {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: max-content;
}

.buttonAddAddress {
    display: flex;
    width: 269px;
    height: 131px;
    padding: 20px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid #140702;
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.buttonAddAddress:hover {
    cursor: pointer;
}

.passwordColumn {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputIconLine {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputIcon {
    position: absolute;
    margin-left: 442px;
    z-index: 2;
}

.inputIcon:hover {
    cursor: pointer;
}

.saveButton {
    display: flex;
    width: 500px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.saveButton:hover {
    cursor: pointer;
}

.modal {
    width: 600px;
    background: #FFF;
    padding-bottom: 93px;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 30px;
    border-bottom: solid 1px #140702;
}

.modalHeaderTitle {
    font-size: 24px;
    color: #140702;
    line-height: 109%;
    text-align: left;
    font-family: "Dela Gothic One";
}

.modalCross:hover {
    cursor: pointer;
}

.modalColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px;
}

.modalDeleteAll {
    background: #FDEDBF;
    width: 100%;
    height: 59px;
    border-radius: 104px;
    font-family: "Dela Gothic One";
    font-size: 20px;
    color: #041F17;
    line-height: 100%;
    text-align: center;
}

.modalClose {
    background: #140702;
    width: 100%;
    height: 59px;
    border-radius: 104px;
    font-family: "Dela Gothic One";
    font-size: 20px;
    color: #FDEDBF;
    line-height: 100%;
    text-align: center;
}

.modalSubtitle {
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalColumnInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalInputTitle {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalInput {
    width: 502px;
    height: 62px;
    border: solid 1px #000;
    border-radius: 100px;
    padding: 0 25px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalInput:focus,
.modalInputLil:focus {
    outline: none;
}

.modalInputLil {
    width: 223px;
    height: 62px;
    border: solid 1px #000;
    border-radius: 100px;
    padding: 0 25px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalInputLine {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.modalSaveButton {
    display: flex;
    width: 500px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalSaveButton:hover {
    cursor: pointer;
}

.addressBlock {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #FDEDBF;
    width: 269px;
    padding: 20px 15px;
    align-items: flex-start;
}

.addressBlockColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.addressBlockText {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
    text-align: left;
}

.addressBlockLine {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.addressBlockButton {
    color: #C39748;
    font-family: "Tenor Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.addressBlockButton:hover {
    cursor: pointer;
}

.errorText {
    color: #950000;
}

.hrMobile {
    display: none;
}

.crossMobile {
    display: none;
}

.codeLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.inputLilColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.lilInputCode {
    width: 223px;
    height: 51px;
    border: solid 1px rgba(20, 7, 2, 1);
    border-radius: 100px;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.2px;
    text-align: left;
    padding: 0 20px;
}

.lilInputCode:focus {
    outline: none;
}

.buttonCode {
    background: rgba(20, 7, 2, 1);
    padding: 14px 0px;
    width: 262px;
    height: 51px;
    border-radius: 104px;
    font-family: Dela Gothic One;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.17px;
    text-align: center;
    color: rgba(253, 237, 191, 1);
}

@media (max-width: 475px) {
    .main {
        width: 100%;
        padding-top: 0px;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .titleColumn {
        gap: 15px;
        padding: 0;
    }

    .title {
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
    }

    .inputColumn {
        gap: 5px;
        padding: 0 25px;
    }

    .inputTitle {
        font-size: 14px;
    }

    .input {
        width: 100%;
        height: 31px;
        padding: 0 15px;
        font-size: 16px;
    }

    .saveButton {
        width: calc(100% - 90px);
        padding: 9.5px 20px;
        font-size: 13px;
    }

    .sexText {
        font-size: 14px;
    }

    .lineSex {
        gap: 30px;
        padding: 0;
    }

    .sexCircle {
        width: 13px;
        height: 13px;
    }

    .hrMobile {
        display: block;
    }

    .dataColumn {
        margin-bottom: 15px;
    }

    .lineAddressBox {
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .lineAddress {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .addressBlock {
        height: auto;
    }

    .addressBlockColumn {
        gap: 30px;
    }

    .addressBlockText {
        font-size: 15px;
    }

    .addressBlockIcon {
        width: 14px;
    }

    .buttonAddAddress {
        height: 119px;
        font-size: 15px;
    }

    .passwordColumn {
        gap: 20px;
        width: 100%;
        margin-bottom: 15px;
    }

    .inputIcon {
        position: absolute;
        margin-left: 0px;
        right: 50px;
        z-index: 2;
        width: 27px;
    }

    .modal {
        width: 90%;
        padding-bottom: 40px;
        margin-left: 5%;
        gap: 25px;
    }

    .modalHeader {
        padding: 15px 17px;
    }

    .modalHeaderTitle {
        font-size: 15px;
    }

    .modalCross:hover {
        cursor: pointer;
    }

    .modalColumn {
        gap: 10px;
        padding: 0 30px;
    }

    .modalDeleteAll {
        height: 38px;
        font-size: 13px;
    }

    .modalClose {
        height: 38px;
        font-size: 13px;
    }

    .modalColumnInput {
        gap: 5px;
    }

    .modalInputTitle {
        font-size: 14px;
    }

    .modalInput {
        width: 100%;
        height: 34px;
        padding: 0 15px;
        font-size: 14px;
    }

    .modalInputLine {
        flex-direction: column;
        gap: 15px;
    }

    .modalInputLil {
        width: 100%;
        height: 34px;
        padding: 0 15px;
        font-size: 14px;
    }

    .modalSaveButton {
        width: 100%;
        padding: 9.5px 20px;
        font-size: 13px;
    }

    .modalHeaderLine {
        padding: 0 15px;
    }

    .codeLine {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    .lilInputCode {
        width: 100%;
        height: 31px;
        font-size: 16px;
        line-height: 17px;
        padding: 0 10px;
    }

    .buttonCode {
        padding: 6.5px 0px;
        width: 100%;
        height: 31px;
        font-size: 13px;
        line-height: 18px;
    }
}