.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 100px 0;
    width: 85%;
    max-width: 1400px;
    min-height: 430px;
}

.title {
    font-size: 32px;
    color: #140702;
    font-family: 'Dela Gothic One', system-ui;
    text-align: left;
    text-transform: uppercase;
}

.sliderItem {
    width: 230px;
    height: 340px;
}

.sliderItemContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.sliderItemColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.sliderItemImage {
    width: 222px;
    height: 220px;
}

.sliderItemTitle {
    font-size: 20px;
    color: #140702;
    font-family: 'Dela Gothic One', system-ui;
    text-transform: uppercase;
}

.sliderItemText {
    width: 200px;
    font-size: 15px;
    text-align: center;
    color: #140702;
}

.sliderItemCost {
    color: #C39748;
    font-family: 'Dela Gothic One', system-ui;
    font-size: 14px;
}

.prevArrow {
    position: absolute;
    margin-top: 0px;
    z-index: 10;
    height: 300px;
    padding-top: 104px;
}

.prevArrow:hover,
.nextArrow:hover {
    cursor: pointer;
}

.nextArrow {
    position: absolute;
    margin-top: -340px;
    z-index: 10;
    right: 0%;
    height: 300px;
    padding-top: 104px;
}

.sliderBlockMobile {
    display: none;
}

@media (max-width: 475px) {
    .main {
        gap: 15px;
        margin: 30px 0 0 0;
        width: 100%;
        min-height: 290px;
        align-items: center;
    }

    .title {
        font-size: 20px;
    }

    .sliderBlock {
        display: none;
    }

    .sliderBlockMobile {
        display: block;
        width: 100%;
    }

    .sliderItemContent {
        gap: 10px;
    }

    .sliderItemTitle {
        font-size: 16px;
    }

    .sliderItemCost {
        font-size: 16px;
    }

    .sliderItemImage {
        width: 190px;
        height: 190px;
        object-fit: cover;
    }

    .nextArrow {
        position: absolute;
        margin-top: -340px;
        z-index: 10;
        right: 40px;
        height: 250px;
    }

    .prevArrow {
        position: absolute;
        margin-top: 0px;
        z-index: 10;
        left: 40px;
        height: 250px;
    }
}