.main {
    width: 85%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 265px 0 100px 0;
    align-items: center;
}

.infoLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 80px;
}

.infoColumn {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 500px;
}

.infoColumnText {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.infoLilColumnText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoTitleLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.infoTitle {
    color: #140702;
    text-align: center;
    font-family: 'Dela Gothic One', system-ui;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.infoFavIcon {
    width: 36px;
    height: 31px;
}

.infoFavIcon:hover {
    cursor: pointer;
}

.infoSubtitle {
    color: #140702;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.description {
    text-align: left;
    color: #140702;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.infoButtonColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.infoCost {
    color: #C39748;
    text-align: center;
    font-family: 'Dela Gothic One', system-ui;
    text-align: left;
    padding: 0 30px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.infoButton {
    display: flex;
    width: 100%;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: 'Dela Gothic One', system-ui;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.infoButton:hover {
    cursor: pointer;
}

.imgSliderBox {
    width: 530px;
}

.sliderItem {
    width: 458px;
    height: 454px;
}

.sliderItemImg {
    width: 458px;
    height: 454px;
}

.paggingItem {
    width: 100px;
    height: 100px;
}

.paggingBox {
    width: 100px;
    margin-left: 100px;
}

.imgSliderBoxColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lineDots {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 100px;
    height: 100px;
}

.dot:hover {
    cursor: pointer;
}

.charasteristicColumn {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
}

.accordionButton {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px #140702;
    padding: 20px;
}

.accordionButtonTitle {
    color: #140702;
    text-align: center;
    font-family: 'Dela Gothic One', system-ui;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.accordionText {
    color: #140702;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding: 0 20px 20px 20px;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 600px;
    background: white;
    padding: 40px 0;
}

.modalHeader {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modalHeaderLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.modalHeaderTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.modalHeaderCross {
    width: 20px;
    height: 20px;
}

.modalHeaderCross:hover {
    cursor: pointer;
}

.modalHeaderHr {
    width: 100%;
    border-top: solid 1px #140702;
}

.modalBody {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 50px;
    align-items: center;
    justify-content: center;
}

.modalBodyColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modalBodyImg {
    width: 334px;
    height: 330px;
    object-fit: cover;
}

.modalBodyColumnLil {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.modalBodyTitle {
    color: #140702;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalBodyText {
    color: #140702;
    text-align: center;
    font-family: "Tenor Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 200px;
}

.modalBodyColumnButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.modalBodyButtonComplete {
    display: flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalBodyButtonBag {
    display: flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 104px;
    background: #FDEDBF;
    color: #140702;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}