.main {
    width: 85%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
}

.line {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.blockButton {
    background: #FDEDBF;
    color: #140702;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 20px;
}

.blockButton:hover {
    cursor: pointer;
}

.block {
    width: 50%;
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    font-size: 20px;
    color: #140702;
    font-family: 'Dela Gothic One', system-ui;
    user-select: none;
    transition: all 0.3s;
}

.blockText {
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    transition: all 0.3s;
    text-transform: uppercase;
}

.blockTextLight {
    color: #FDEDBF;
}

.blockTextDark {
    color: #140702;
}

.blockImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.block:hover .blockImage,
.block2:hover .blockImage2,
.block6:hover .blockImage6,
.block7:hover .blockImage7 {
    cursor: pointer;
    filter: brightness(40%);
    transition: all 0.3s;
}

.block:hover .blockTextLight,
.block2:hover .blockTextLight,
.block6:hover .blockTextLight,
.block7:hover .blockTextLight {
    color: #140702;
    transition: all 0.3s;
}

.block:hover .blockTextDark,
.block2:hover .blockTextDark,
.block6:hover .blockTextDark,
.block7:hover .blockTextDark {
    color: #FDEDBF;
    transition: all 0.3s;
}

.block2 {
    width: 50%;
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    font-size: 20px;
    color: #140702;
    font-family: 'Dela Gothic One', system-ui;
    user-select: none;
}

.blockImage2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.block6 {
    width: 50%;
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    font-size: 20px;
    color: #140702;
    font-family: 'Dela Gothic One', system-ui;
    user-select: none;
}

.blockImage6 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.block7 {
    width: 50%;
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    font-size: 20px;
    color: #140702;
    font-family: 'Dela Gothic One', system-ui;
    user-select: none;
}

.blockImage7 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.sliderImage {
    height: 325px;
    width: 100%;
    object-fit: cover;
}

.backImg {
    position: absolute;
    width: 100%;
    height: 325px;
    z-index: 0;
    object-fit: cover;
}

.logoText {
    position: relative;
    z-index: 1;
    color: #140702;
    font-family: 'Dela Gothic One', system-ui;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.sliderColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 160px;
    height: 350px;
}

.sliderDotsLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.sliderDot {
    background: #FDEDBF;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s;
}

.sliderDotSelect {
    background: #C39748;
    width: 12px;
    height: 12px;
    transition: all 0.3s;
}

@media (max-width: 475px) {
    .main {
        width: 100%;
        gap: 10px;
        margin-top: 30px;
    }

    .line {
        gap: 10px;
    }

    .block,
    .block2,
    .block6,
    .block7 {
        height: 125px;
    }

    .blockText {
        font-size: 12px;
    }

    .imageBlock {
        height: 147px;
        margin-top: 60px;
    }

    .backImg {
        height: 147px;
    }

    .logoText {
        font-size: 12px;
    }

    .sliderColumn {
        gap: 0px;
        margin-top: 60px;
        height: 165px;
    }

    .sliderDotsLine {
        gap: 3px;
    }

    .sliderDot {
        width: 6px;
        height: 6px;
    }

    .sliderDotSelect {
        width: 8px;
        height: 8px;
    }

    .sliderImage {
        height: 150px;
    }
}