.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.title {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.mainLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
}

.mainItem {
    width: 25%;
    border-radius: 40px;
    background: #FDEDBF;
    padding: 10px 20px;
    color: #140702;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.productsLine {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.productsInput {
    width: 75%;
    height: 41px;
    border: solid 1px #000;
    border-radius: 60px;
    padding: 10px 20px;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.productsInput::placeholder {
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
}

.productsInput:focus {
    outline: none;
}

.productsButtonAddProduct {
    display: flex;
    width: 25%;
    padding: 4px 10px;
    height: 41px;
    justify-content: center;
    align-items: center;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.createModal {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: #FFF;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.createModalTitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.createModalCover {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.createModalLine {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.createModalButton {
    display: flex;
    width: 50%;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.createModalButtonCancel {
    display: flex;
    width: 50%;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #FDEDBF;
    color: #140702;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.productsGridItem {
    display: flex;
    flex-direction: row;
    background: #FDEDBF;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    align-items: flex-start;
}

.productsGridItemCover {
    width: 166px;
    height: 166px;
    object-fit: cover;
}

.productsGridItemColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 186px);
}

.productsGridItemTextLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.productsGridItemLineButtons {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.productsGridItemButton {
    color: #C39748;
    font-family: "Tenor Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.152%;
    text-decoration: underline;
}

.productsGridItemTitle {
    font-family: Dela Gothic One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.96px;
    text-align: left;
}

.productsGridItemCost {
    font-family: Tenor Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    font-weight: 400;
}

.addtitionallyLine {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

.additionallyButton {
    font-family: Tenor Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.1px;
    text-align: center;
    color: rgba(20, 7, 2, 1);
    padding: 10px;
    border-radius: 100px;
    width: 33%;
    border: solid 1px rgba(20, 7, 2, 1);
}

.additionallyButtonSelect {
    background: rgba(20, 7, 2, 1);
    color: rgba(253, 237, 191, 1);
}

.sortLine {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.menuButton {
    width: 50%;
    padding: 8.5px 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 1px rgba(20, 7, 2, 1);
    border-radius: 100px;
}

.sortColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.noItems {
    font-family: Tenor Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
}

.productsGridItemLilColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.productsGridItemText {
    font-family: Tenor Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.38px;
    text-align: left;
}