.createColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: left;
    justify-content: left;
}

.createArticlesLineBox {
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: left;
    justify-content: left;
}

.createArticlesLineBox::-webkit-scrollbar {
    display: none;
}

.createArticlesLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: max-content;
}

.lilBlackButton {
    font-family: Dela Gothic One;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.37px;
    text-align: center;
    color: rgba(253, 237, 191, 1);
    padding: 10px 20px;
    border-radius: 100px;
    background: rgba(20, 7, 2, 1);
}

.modal {
    display: flex;
    flex-direction: column;
    background: #FFF;
    gap: 35px;
    width: 600px;
    height: 410px;
    align-items: center;
    justify-content: flex-start;
}

.modalColumn {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 40px 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgba(20, 7, 2, 1);
}

.modalTitle {
    font-family: Dela Gothic One;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.2px;
    text-align: left;
    color: rgba(20, 7, 2, 1);
    text-transform: uppercase;
}

.modalCross {
    cursor: pointer;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

.modalButton {
    font-family: Dela Gothic One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.96px;
    text-align: center;
    color: rgba(253, 237, 191, 1);
    background: rgba(20, 7, 2, 1);
    padding: 15px;
    border-radius: 100px;
    width: 100%;
}

.modalInput {
    width: 100%;
    height: 62px;
    border: solid 1px rgba(20, 7, 2, 1);
    border-radius: 100px;
    padding: 0 20px;
    font-family: Tenor Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: left;
}

.modalInput:focus {
    outline: none;
}

.articleItem {
    font-family: Tenor Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: center;
    color: rgba(20, 7, 2, 1);
    padding: 10px 20px;
    border: solid 1px rgba(20, 7, 2, 1);
    border-radius: 100px;
    height: 42px;
    transition: all 0.3s;
}

.articleItemSelect {
    background: rgba(253, 237, 191, 1);
    border: solid 1px rgba(253, 237, 191, 1);
    transition: all 0.3s;
}

.noArticlesText {
    font-family: Tenor Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: left;
}

.createLilColumn {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 10px;
}

.createSubtitle {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.productsInput {
    width: 100%;
    height: 42px;
    border: solid 1px #000;
    border-radius: 60px;
    padding: 0 25px;
    color: #140702;
    font-family: Tenor Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: left;
}

.productsInput::placeholder {
    font-family: Tenor Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: left;
    color: #140702;
}

.productsInput:focus {
    outline: none;
}

.createLilLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    align-items: center;
}

.createTypeItem {
    padding: 10px 25px;
    border-radius: 100px;
    border: solid 1px #000;
    color: #140702;
    font-family: "Tenor Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.createLineAdditionally {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.createButton {
    display: flex;
    width: 500px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    border-radius: 104px;
    background: #140702;
    color: #FDEDBF;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.createAdditionallyItem {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 20px;
    border: solid 1px #000;
    height: 55px;
}

.createTypeItemSelect {
    background: #FDEDBF;
    border: solid 1px #FDEDBF;
}

.createSubtitleSpan {
    font-family: Tenor Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.55px;
    text-align: left;
}

.imageColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.imagesLine {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.newsImageButton {
    width: 130px;
    height: 130px;
    background: rgba(253, 237, 191, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.coverChangeButton {
    font-family: Tenor Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.04px;
    text-align: center;
    text-decoration: underline;
}

.anotherImagesLine {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
}

.imageLilRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.imageButton {
    padding: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(253, 237, 191, 1);
}

.coverColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.imageButtonLeft {
    transform: rotate(270deg);
}

.imageButtonRight {
    transform: rotate(90deg);
}

.sizesLine {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sizeColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sizeDelete {
    font-family: Tenor Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.7px;
    text-align: center;
    text-decoration: underline;
}

.sizeItem {
    min-width: 72px;
    height: 38px;
    border-radius: 100px;
    border: solid 1px #140702;
    font-family: Tenor Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: center;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.sizeItemSelect {
    background: rgba(253, 237, 191, 1);
    border: solid 1px rgba(253, 237, 191, 1);
    transition: all 0.3s;
}

.sizeItemIcon {
    width: 18px;
}

.modalText {
    font-family: Tenor Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: center;
}

.createColorButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 22px;
    height: 40px;
    min-width: 500px;
    gap: 20px;
    width: max-content;
    border-radius: 50px;
    border: solid 1px #000;
    font-size: 20px;
}

.createColorsPanel {
    background: white;
    padding: 0px;
    border-radius: 20px;
    border: solid 1px #000;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.createColorsItem {
    border-bottom: solid 1px #000;
    padding: 10px 20px;
    width: 100%;
}

.createColorsItemLast {
    border-bottom: none;
}

.buttonBlackMiddle {
    font-family: Dela Gothic One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.96px;
    text-align: center;
    color: #FDEDBF;
    padding: 4.5px 20px;
    background: #140702;
    border-radius: 100px;
    width: max-content;
}

.loading {
    position: relative;
    background: rgba(20, 7, 2, 0.5);
    color: rgba(253, 237, 191, 0.5);
}

.loading:hover {
    cursor: auto;
}

.loading::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 46%;
    width: 20px;
    height: 20px;
    border: 4px solid #FFF;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

