.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.title {
    color: #140702;
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.mainLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.mainButton {
    padding: 10px 20px;
    border: solid 1px var(--dark);
    border-radius: 60px;
    transition: all 0.3s;
}

.mainButton:hover {
    cursor: pointer;
    transition: all 0.3s;
    background: var(--beige);
    border: solid 1px var(--beige);
}

.mainButtonSelect {
    background: var(--beige);
    border: solid 1px var(--beige);
}

.table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;
}

.orderCard {
    background: var(--beige);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.orderCardTitle {
    font-family: Dela Gothic One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.96px;
    text-align: left;
}

.orderCardColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.orderCardText {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.38px;
    text-align: left;
}

.orderCardCost {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
}

.orderCardButtonLineBox {
    width: 100%;
    overflow: auto;
}

.orderCardButtonLine {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

.orderCardButton {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.1px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 60px;
    border: solid 1px var(--dark);
    transition: all 0.3s;
}

.orderCardButtonSelect {
    background: var(--dark);
    color: var(--beige);
    transition: all 0.3s;
}

.orderCardTitleLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.orderCardMoreDetailButton {
    color: var(--gold);
    font-size: 15px;
    font-weight: 400;
    line-height: 17.55px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.orderCardComplete {
    background: none;
    border: solid 1px var(--dark);
}

.detailButtonComplete {
    color: var(--dark);
}

.orderCardCompleteLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.orderCardCompleteBox {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.1px;
    text-align: center;
    border: solid 1px var(--dark);
    padding: 10px 20px;
    border-radius: 100px;
    user-select: none;
}

.orderCardCompleteButton {
    font-family: Dela Gothic One;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.1px;
    text-align: center;
    color: var(--beige);
    padding: 10px 25px;
    background: var(--dark);
    border-radius: 60px;
}

.filterLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.mainInput {
    width: 50%;
    height: 40px;
    border: solid 1px var(--dark);
    border-radius: 60px;
    padding: 0 20px;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: left;
    color: var(--dark);
}

.mainInput::placeholder {
    font-size: 20px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: left;
    color: var(--dark);
}

.filterBox {
    width: 50%;
}

.noOrders {
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.4px;
}

.contentColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.subtitle {
    font-family: Dela Gothic One;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.72px;
    text-align: left;
}

.boxContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 20px;
    border: solid 1px var(--dark);
    border-radius: 60px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: left;
}

.fullWidth {
    width: 100%;
}

.contentLine {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.contentButton {
    font-size: 20px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: center;
    padding: 10px 20px;
    border: solid 1px var(--dark);
    border-radius: 60px;
    transition: all 0.3s;
}

.contentButton:hover {
    background: var(--beige);
    border: solid 1px var(--beige);
    transition: all 0.3s;
}

.contentButtonSelect {
    background: var(--beige);
    border: solid 1px var(--beige);
}

.smallButton {
    font-size: 20px;
    padding: 10px 15px;
}

.userColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userTitle {
    font-family: Dela Gothic One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.96px;
    text-align: left;
}

.halfWidth {
    width: 50%;
}

.productContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.productsTotalBlock {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: solid 1px var(--dark);
    gap: 20px;
    width: 230px;
}

.productsTotalTitle {
    font-family: Dela Gothic One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.96px;
    text-align: left;
}

.productsTotalColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productsTotalSubtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
}

.productsTotalCost {
    font-family: Dela Gothic One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.96px;
    text-align: left;
    color: var(--gold);
}

.productsColumn {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productItem {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
}

.productItemCover {
    width: 162px;
    height: 162px;
    object-fit: cover;
}

.productItemColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.productItemTitle {
    font-family: Dela Gothic One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.96px;
    text-align: left;
}

.productItemCost {
    font-family: Dela Gothic One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.96px;
    text-align: left;
    color: var(--gold);
    margin-top: 15px;
}

.productItemText {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.38px;
    text-align: left;
}

.textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    border: solid 1px var(--dark);
    border-radius: 30px;
    padding: 10px 20px;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: left;
}

.mainButtonSave {
    font-family: Dela Gothic One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.96px;
    text-align: center;
    color: var(--beige);
    padding: 15px 167px;
    border-radius: 104px;
    background: var(--dark);
    width: max-content;
    text-transform: uppercase;
}

.titleLine {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.deleteButton {
    color: var(--red);
    font-size: 20px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: left;
}