<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Тестирование виджета СДЭК</title>
  <script src="https://cdn.jsdelivr.net/npm/@cdek-it/widget@3" type="text/javascript"></script>
  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {
          window.widget = new window.CDEKWidget({
              apiKey: 'a2ab5825-bf63-4a48-b7dc-c03fd2fe6ebf', // Ваш API-ключ
              defaultCity: 'Москва', // Указание города по умолчанию
              defaultLocation: 'Москва', // Обязательно укажите местоположение
              goods: [
                { weight: 1, length: 10, width: 10, height: 10 }
              ],
              onChoose: function (info) {
                  console.log('Выбранный ПВЗ:', info);
              }
          });
      });
  </script>
</head>
<body>
  <h1>Тестирование виджета СДЭК</h1>
  <button onclick="window.widget.open()">Открыть виджет</button>
</body>
</html>
